[user]
	name = {{ .name }}
	email = {{ .email }}
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
    colorMoved = plain
    colorMovedWS = allow-indentation-change
    context = 5
    mnemonicPrefix = true
[help]
    autoCorrect = prompt
