.chezmoi_symlinks/**

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData/
AppData/**
Documents/
Documents/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.config/Code/User
.config/Code/User/**
.config/zed
.config/zed/**
{{ end }}
