{{- $name := "Leyton Addison-Roach" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

data:
  name: "{{ $name }}"
  email: "{{ $email }}"

interpreters:
  ps1:
    command: powershell
    args:
      - -ExecutionPolicy
      - Bypass
